

<md-content class="md-padding" layout="column">
    
    <md-chips 
      ng-model="skillsToEdit" 
      md-autocomplete-snap="" 
      md-transform-chip="transformChip($chip)" 
      >

      <md-autocomplete 
        md-selected-item="selectedItem" 
        md-search-text="searchSkill" 
        md-items="skill in skills | filter:searchSkill" 
        
        placeholder="Search for Skill">
          <span md-highlight-text="ss.searchSkill">{{skill.display}}</span>
      </md-autocomplete>
      <md-chip-template>
        <span>
          <strong>{{$chip.display}}</strong>
        </span>
      </md-chip-template>
    </md-chips>

  </md-content>


  <section class="skillRanker">

{{skillsToEdit}}
<div class="skillSlab" ng-repeat="skill in skillsToEdit track by $index">
   <label for="">{{skill.display}}</label>
    <div class="range-slider">
        <input ng-model="skill.score" value="3" class="input-range" type="range" min="1" max="5">
        <span class="range-value" ng-model="skill.score">{{skill.score}}</span> 
    </div> 
</div>
</section>