%font-primary{
	font-family: $font-primary;
}

%font-XL1 {
	font: $XL1;
}
%font-XL2 {
	font: $XL2;
}
%font-XL3 {
	font: $XL3;
}
%font-XL4 {
	font: $XL4;
}
%font-XL5 {
	font: $XL5;
}
%font-XL6 {
	font: $XL6;
}
%font-XL7 {
	font: $XL7;
}
%font-XL8 {
	font: $XL8;
}
%font-XL9 {
	font: $XL9;
}
%font-XL10 {
	font: $XL10;
}
%font-XL11 {
	font: $XL11;
}
%font-XL12 {
	font: $XL12;
}
%font-XL13 {
	font: $XL13;
}
%font-XL14 {
	font: $XL14;
}
%font-XL15 {
	font: $XL15;
}
%font-XL16 {
	font: $XL16;
}
%color-themeBlack80 {
	color: $theme-black80;
}
%color-themeBlack60 {
	color: $theme-black60;
}