// Fonts
$font-primary:"acumin-pro",sans-serif,Times New Roman;

// Colors
$color-h1: #404040;
$color-label: #404040;
$color-placeholder: #c8c8c8;
$color-inputBorder: #eaeaea;
$color-slider: #00b1e1;
$color-arrows: #393939;
$color-sep: #000000;

$theme-green: #00bc94;

// Margin
$m-section: 52px;


// Background
$bg-band: #f8f8f8;
$bg-createJobSidebar: #fafafa;
$bg-profileZebra: #fafafa;
$bg-profilePink: #f5989d;


// Buttons
$color-buttonCancel: #999999;
$border-buttonCancel: #999999;
$bg-buttonCancel: #fff;



// Dashboard Variables
$theme-orange: #fe8e69;
$theme-blue: #213141;
$theme-borderGray: #eaeaea;
$theme-black: #000000;
$theme-black80: lighten( $theme-black, 20% );
$theme-black60: lighten( $theme-black, 40% );
$location-color: #9db7d0;
$bg-mainNav : #374b5f;
$bg-darkNav: #213141;


// Fonts
$XL1: 200 30px $font-primary;
$XL2: 700 24px $font-primary;
$XL3: 200 24px $font-primary;
$XL4: 700 18px $font-primary;
$XL5: 400 18px $font-primary;
$XL6: 200 18px $font-primary;
$XL7: 700 14px $font-primary;
$XL8: 400 14px $font-primary;
$XL9: 200 14px $font-primary;
$XL10: 200 12px $font-primary;
$XL11: 400 12px $font-primary;
$XL12: 700 12px $font-primary;
$XL13: 400 10px $font-primary;
$XL14: 400 16px $font-primary;
$XL15: 200 16px $font-primary;
$XL16: 700 16px $font-primary;


// Profile View
$color-tab: #474747;
$color-tab_active: #333;
$border-tab-active: #333;
$theme-border: #eaeaea;


// ProfileView
$bg-overlay: rgba(255, 255, 255, 0.85);
$bg-blueGradient : #1d5476;





